sublime/User/Package\ Control.cache/*
sublime/User/Color\ Highlight.cache/*
sublime/User/Package\ Control.last-run
*SBSCompareTheme.hidden-tmTheme
*Package\ Control.last-run
*Package\ Control.merged-ca-bundle
sublime/User/SBSCompareScheme.hidden-color-scheme*
