[Desktop Entry]
Name=Screenshot
Comment=Take screenshot
GenericName=Screenshot script for Linux
Exec=/usr/local/bin/ss
Icon=camera
Type=Application
StartupNotify=true
